._2t-a  {
background-color: black;

}

._6qfu._5lxt {
	background-color: #c7c7c7;
	border-radius : 60px;
	margin: 4px;
}
._kjbg1lk:hover {
	background-color: #fff;


}
.uiToggle {
	background-color: #c7c7c7;
	border-radius : 60px;
	margin: 4px;
}
.noGrip {
	border-left : solid .5px #000000;
}
._42fz:hover {
	    border : solid 1px #000000;
		font-size: 101%;
	font-weight: bold;
		height: 102%;
}
._3u16:hover {
	width: 101%;
	font-size: 110%;

}
.clearfix :hover {
	font-size: 101%;
	font-weight: bold;

}
.jhgashhtya {
	height:40px;
	
	float: right;background-color: #c7c7c7;
	border-radius : 60px;
	margin: 4px;
}
._li  {
	background-image: url('https://img.wallpapersafari.com/desktop/1680/1050/56/48/WEuzVS.jpg');

	
}
._2pie {
	background-color: #ffffff00;
	
}
._5vb_.hasLeftCol #contentCol {
	background-color: #ffffff00;

}
._5pr2.fbChatSidebar .noGrip{
	background-image: url('https://mcdn.wallpapersafari.com/medium/56/48/WEuzVS.jpg');
	
	


}

